@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans','Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING PAGE CONTAINER */
.App-container { 
  height: 100vh;
  width: 100%;
}

/* HEADER AND NAV */
.App-header {
  margin: 0 auto;
  width: 80%;
}

.Logo {
  margin-top: 9px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.Logo:hover {
  transition: scale(1.1);
} 

.App-nav {
  display: flex;
  padding-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.App-nav li {
  display: inline;
  margin: 15px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 6px 15px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.App-nav li:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}

.Burger {
  display: none;
}


/* CONTENT BODY*/
.App-body {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 85%;
  align-items: center;
  justify-content: space-between;
}

.App-text {
  font-size: 40px;
}

.App-text p {
  font-size: 25px;
  margin-bottom: 13px;
}

.App-body button {
  background-color: black;
  color: white;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 12px 30px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1px solid black;
}

.App-body button:hover {
  background-color: transparent;
  color: black;
  transition: 0.5s;
}

.App-options {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 35%;
  gap: 5px;
  cursor: pointer;
}

.App-options img:hover {
  transform: translateY(-10px);
  transition: 0.1s;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
  .MainImage {
    height: 400px;
  }

  .App-options {
   margin: 0 0 15px -85px;
  }

}

@media only screen and (max-width: 950px) {
  .App-container {
    height: 100vh;
    width: 100%;
  }
  
  .Logo {
    height: 80px;
    width: 80px;
  }

  .Burger {
    display: flex;
    position: absolute;
    margin-left: 70%;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }
  
  .App-nav li {
    display: none;
  }

  .App-body {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .App-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 40px;
  }
  
  .App-text p {
    font-size: 23px;
    margin-bottom: 13px;
  }
  
  .App-body button {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 30px;
  }

  .App-image {
    display: flex;
    position: absolute;
    margin: 35%;
  }

  .MainImage {
    height: 350px;
  }

  .App-options {
    display: flex;
    position: absolute;
    margin-left: -20px;
  }

  .icon {
    height: 70px;
    margin: 0 0 0 10px;
  }

}

@media screen and (max-width: 500px) {
  .App-text {
    font-size: 20px;
    margin-top: 40px;
  }
  
  .App-text p {
    font-size: 20px;
    margin-bottom: 18px;
  }
  
  .App-body button {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 30px;
  }
  
  .App-image {
    display: flex;
    position: absolute;
    margin: 45%;
  }
  
  .MainImage {
    height: 200px;
  }

  .App-options {
    margin-left: -80px;
  }
}